*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: #14171C;
    scroll-behavior: smooth;
    color:#eaeae2;
    font-family: Arial, Helvetica, sans-serif
}

.cover-single-img {
    height: 650px;
}


.greetings{
    font-size: 45px;
}

.book-info-list {
    background-color: #14171C;
}

.main-card {
    background-color: #14171C;
    border-radius: 7px;
    box-shadow: 5px 15px 15px -13px rgba(0,0,0,0.75);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    
}
.card {
    background-color: #14171C;
    border-radius: 7px;
    box-shadow: 5px 15px 15px -13px rgba(0,0,0,0.75);
    color: #eaeae2;
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: ease-in-out;
    
    
}

.book-info-list {
    border-radius: 5px;
    box-shadow: 5px 15px 15px -13px rgba(0,0,0,0.75);
}
.book-info-list li{
    text-align: center;
    background-color: #14171C;
    color: #eaeae2;
    list-style: none;
    border-bottom: none;
}

.card:hover {
    transform: scale(1.05);
}

.main-card:hover {
    transform: scale(1.05);

}

.nav-link {
    list-style: none;
    color: #eaeae2;
}
.nav-link:hover {
    list-style: none;
    color: #F27405;
}

.heading {
    color: #eaeae2;
}
.heading:hover {
    color: #F27405;
}

.featured {
    color: #eaeae2;
}

a {
    color: #eaeae2;
    text-decoration: none;
}

a:visited {
    color: #eaeae2;
}
